# General

.DS_Store
*~
*/bin

# Eclipse

*.metadata
*.plugins
*.recommenders
*.project
*.classpath
*.settings
*.class
*.cproject

*.d
*.o
*.mk
*main
*makefile
*.plist

**/**/**/**/*/Debug
**/**/**/**/*/Release

# Additional formats

*.pdf

build/
*.dylib
*.a